[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Django
Django = {version = "==5.1.*", index="pypi"}
djangorestframework = {version = "==3.15.*", index="pypi"}
djangorestframework-simplejwt = {version = "==5.3.*", index="pypi"}
django-storages = {version = "==1.14.*", index="pypi"}
drf-spectacular = {version = "==0.27.*", index="pypi"}
drf-writable-nested = {version = "==0.7.*", index="pypi"}
drf-nested-routers = {version = "==0.94.*", index="pypi"}
django-cors-headers = {version = "==4.4.*", index="pypi"}
django-filter = {version = "==24.*", index="pypi"}
django-db-comments = {version = "==0.4.*", index="pypi"}
django-ipware = {version = "==7.0.*", index="pypi"}
pillow = {version = "*", index="pypi"}
celery = {version = "==5.4.*", index="pypi", extras=["redis"]}
django-redis = {version = "==5.4.*", index="pypi"}
# Databases
psycopg2-binary = {version = "==2.9.*", index="pypi"}
# Crypto
argon2-cffi = {version = "==23.1.*", index="pypi"}
# Other tools
PyJWT = {version = "==2.9.*", index="pypi"}

[dev-packages]
# Auto-reload celery workers
watchdog = {version = "==5.0.*", index="pypi", extras=["watchmedo"]}

[requires]
python_version = "3.12"
